// colors
$primary-color: #004C95;
$secondary-color: #002951;
$danger-color: #F35B5B;
$gray-color: #E8E8E8;
$lighgray-color: #F5F5F5;
$darkgray-color: #565656;
$midgray-color: #777777;
$white-color: #ffffff;
$black-color: #000000;
$lightblue-color: #1E9FFC;
$input-border-color: #DDDFE3;

// typography
$heading-size: 3.125rem;
$para-size: 1rem;

// radius
$input-border-radius: 0.75rem;

// heights
$input-height: 3.125rem;